# Compilados y binarios
/target/
/build/
/out/
*.class

# Entorno y Secretos (Seguridad)
.env
.env.*
!.env.example

# Archivos de IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Archivos de Sistema y Log
*.log
.DS_Store
Thumbs.db

# Otros temporales
HELP.md
